* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    color: #151515;
  }
  
  /* ------------ START:: Button style ------------ */
  button {
    height: 32px;
    padding: 0px 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  
  button[disabled] {
    cursor: default;
    background-color: #ccc;
  }
  
  button[disabled]:hover {
    background-color: #ccc;
  }
  
  .primary {
    color: white;
    background-color:  rgba(33, 15, 55, 0.8);
  }
  
  .primary:hover {
    background-color:  rgba(33, 15, 55, 1);
  }
  
  .secondary {
    color: #151515;
    border: 1px solid #4F1C51;
  }
  
  .secondary:hover {
    color: white;
    background-color: #4F1C51;
  }
  
  /* ------------ END:: Button style ------------ */
  
  
  /* ------------ START:: Input style ------------ */
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    height: 32px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #4F1C51;
    padding: 0px 5px;
  }
  
  
  /* ------------ END:: Input style ------------ */
  
  
  nav {
    height: 50px;
    width: 100%;
    padding: 0px 24px;
    border-bottom: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    h3 {
      margin: 0;
      display: inline-block;
    }
  }
  
  .menu {
    display: flex;
    column-gap: 16px;
  }
  
  .main-content {
    height: 500px;
    background-image: url("file:///Users/sanjaybeniwal/Desktop/Github/website/bankingwebpage/assest/home.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }