.main-content {
    height: 500px;
    background-image: url("file:///Users/sanjaybeniwal/Desktop/Github/website/bankingwebpage/assest/home.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }